/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

th {
    background-color: #eeeeee;
    font-weight: bold;
    vertical-align: middle;
    display: table-cell;
    text-align: -internal-center;
}

#dt1, #yn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#bt {
    width: 3px;
}

.title {
    background-color: cornsilk;
    width: 85px;
    margin-right: 20px;
    font-weight: bold;
    color: #555;
}

.con {
    width: 85px;
    margin-right: 20px;
}