.detailDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailDiv > div {
    width: 20%;
}

.detailDiv > p {
    width: 80%;
}

/* > 이거는 경로 정확히? 공백으로 쓰면 부모자식 다 */
.detailDiv img { 
    border-radius: 50%;
}

#bt {
    background-color: #CED8F6;
    color: black;
    border: none;
    padding: 3px 10px;
}

